@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: "burtons";
  src: url("../public/Burtons.otf");
}

.fontt{
  font-family: '';
  font-weight: bold;
  
}

@keyframes slideInLeft {
  from{
    transform: translateX(-300px);
  }
  to{
    transform: translateX(0);
  }
  
}



.top-btn {
    font-size: 2.4rem;
    width: 4rem;
    height: 4rem;
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@keyframes gototop {
  0% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(1rem);
  }
}

.main_base{
  animation: 3s linear 1s infinite alternate slidein;
}

/* 
.url {cursor: url(myBall.cur),auto;} */

.wait {cursor: wait;}

.circle {
  width: 40px;
  height: 40px;
  background: linear-gradient(to top left, #0062bE, #00A2FE);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -20px;
  pointer-events: none;
  mix-blend-mode: multiply;
  z-index: 10;
}

@media (max-width: 200px) {
  .logo {
    width: var(--container-width-sm);
  }
}

/* .cursor {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
}*/
.cursor:nth-child(1) {
  background-color: #E74C3C;
  z-index: 1;
}
.cursor:nth-child(2) {
  background-color: #fff;
} 

.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  background-color: rgba(var(--color-cursor), 1);
  }
  .cursor::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border: 2px solid blue;
  border-radius: 50%;
  opacity: .5;
  top: -8px;
  left: -8px;
  }
  @keyframes cursorAnim {
  0% {
  transform: scale(1);
  }
  50% {
  transform: scale(5);
  }
  100% {
  transform: scale(1);
  opacity: 0;
  }
  }
  .expand {
  animation: cursorAnim .5s forwards;
  }



 
  
  .nav.active {
    transform: translateY(0%);
  } 
  